@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;600;700&display=swap');

*{
	overflow-x: hidden;
}
:root {
	--primary-color: #feaf2b;
	--secundary-color: #6a3b0d;
	--light: #fcfefe;
	--dark: #050A09;
}

body {
	box-sizing: border-box;
	font-family: 'Roboto Mono', sans-serif;
	background: #333;	
	margin: 0;
	padding: 0;
}


header {
	width: 100%;
	height: 80px;
	overflow-y: hidden;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.6);
}

#header-container {
	display:flex;
	justify-content: space-evenly;
	align-items: center;
}

#header-container #header-logo img {
	width: 80px;
	height: 80px;
}

#header-container #location {
	font-size: 15px;
	text-decoration: none;
	color: var(--light);
	transition: all 0.5s ease;
}

#header-container #location:hover {
	color: var(--primary-color);
	transform: scale(1.02);
}

#location-icon {
	display: none;
}

#header-container ul {
	display: flex;
	list-style: none;
}

#header-container ul a {
	padding: 0px 15px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	color: var(--light);
	transition: all 0.5s ease;
}

#header-container ul a.active{
	border-bottom: 1px solid var(--primary-color);
}

#header-container ul a:hover {
	/*transform: scale(1.01);*/
	letter-spacing: 0.8px;
	color: var(--primary-color);
}

#content-button {
	width: 40px;
	height: 30px;
	display: none;
}


.line-button {
	width: 30px;
	height: 2px;
	margin: 5px;
	background-color: #FFF;
}

#banner-container {
	width: 100vw;
	height: 100vh;
	background-image: url(../images/banner.jpg);
	background-size: cover;
	background-position: top;
}

#banner {
	width: inherit;
	height: inherit;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

#banner-title h1 {
	margin-top: 190px;
	text-transform: uppercase;
	font-size: 80px;
	font-weight: 200;
	letter-spacing: 10px;
	color: var(--primary-color);
	animation: neon 1s ease-in-out infinite;	
}

@Keyframes neon {
	0% {
		text-shadow: none;
	}

	50% {
		text-shadow: 0px 3px 20px var(--primary-color);
	}

	100%`{
		text-shadow: none;
	}
}


#banner-options {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.option {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 120px;
	height: 120px;
	border: 1px solid var(--primary-color);
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 600;
	color: var(--light);
	margin: 50px;
	transition: all 0.5s ease;
}

.option:hover {
	transform: scale(1.05);
	background-color: var(--secundary-color);
}

.option i {
	transform: scale(3.5);
}

.option img {
	width: 55px;
	height: 40px;
}

#aboutUs {
	height: 100vh;
	transition: all 1s linear;
}

#container-aboutUs {
	display: grid;
	grid-template: column;
	grid-template-columns: repeat(2, 1fr);

}

.about-item {
	height: 100vh;
}

.about-item img {
	margin-top: 100px;
	margin-left: 30px;
	width: 500px;
}


.about-item {
	background-color: var(--secundary-color);
	color: var(--light);
	
}

#about-title {
	margin-top: 100px;
	text-align: center;
	text-transform: uppercase;
	color: var(--primary-color);
	text-shadow: 2px 3px 3px var(--primary-color);
}

.about-item p {
	flex: 1;
	text-align: center;
	font-size: 14px;
	margin-top: 50px;
	font-weight: 600;
	margin-right: 50px;
	color: var(--dark);
}


#galery {
	background-color: var(--dark);
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

#galery h1 {
	text-transform: uppercase;
	color: var(--primary-color);
	text-shadow: 2px 3px 3px var(--primary-color);
	margin-top: 100px;
}


#galery-container {
	display: grid;
	grid-template: column;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px 30px;
	height: 400px;
}


.galery-item {
	width: 180px;
	height: 180px;
	background-image: url(../images//burguer.jpg);
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;

}

.galery-item:hover {
	transform: scale(1.1);
	opacity: 0.1;
}

.description-item {
	display: none;
	color: var(--light);
	font-size: 14px;
}




footer {
	background-color: var(--secundary-color);
}

#footer-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 30px;
	/*background-color: rgba(0, 0, 0, 0.6);*/
	text-transform: uppercase;
	font-size: 17px;
	letter-spacing: 1px;
}



@media screen and (max-width: 325px) {

	header {
		position: absolute;
		background-color: #010100;	
	}

	#header-logo img {
		transform: scale(1.01);
	}
}









@media screen and (max-width: 426px) {
	header {
		position: absolute;
		background-color: #010100;
	}

	#header-container {
		display: flex;
		align-items: center;
		justify-content: space-between;

	}

	#location {
		display: none;
	}


	#location-icon {
		display: inline-block;
		transform: scale(2.0);
		margin-left: 35px;
		margin-bottom: 5px;
	}

	#banner {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	#banner-title h1 {
		text-align: center;
		letter-spacing: 1px;
	}


	.option {
		margin: 5px;
	}

	#container-aboutUs {
		display: flex;
	}

	.about-item {
		/*background-image: url(../images/churrasTeam.jpg);
		background-size: cover;
		background-position: center;*/
		background-color: var(--secundary-color);
	}
	
	.about-item img {
		display: none;
	}

	#about-title {
		margin-bottom: 25px;
	}
	.about-item p {
		text-align: justify;
		width: 100vw;
		line-height: 18px;
		padding: 1px;
		color: var(--light);
	}

	#galery {
		height: 1000px;
	}

	#galery h1 {
		height: 70px;
		margin-top: 10px;
		margin-bottom: 50px;
	}

	#galery-container {
		display: grid;
		grid-template: column;
		grid-template-columns: repeat(1, 1fr);
		height: 1000px;
	}

	.galery-item {
		width: 100vw;
		height: 400px;
	}

	#footer-container {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100vw;
		height: 30px;
		/*background-color: rgba(0, 0, 0, 0.6);*/
		
		
	}

}










@media screen and (max-width: 768px) {
	header {
		position: absolute;
		background-color: #010100;
	}

	#header-container #location {
		font-size: 13px;

	}

	#header-container ul {
		display: none;
	}

	#content-button {
		display: inline-block;
	}



	#banner-title h1 {
		font-size: 40px;
	}

	.option {
		padding: 0px 10px;
		text-align: center;
		width: 80px;
		height: 100px;
		font-size: 10px;
	}

	#container-aboutUs {
		grid-template: row;
		
	}

	.about-item img {
		margin-top: 110px;
		width: 400px;
	}

	#about-title {
		margin-top: 30px;
	}

	.about-item p {
		margin-top: 25px;
		font-size: 11px;
	}

	#galery-container {
		gap: 10px ;
	}

	#footer-container {
		font-size: 15px;
	}
}

