@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
}

:root {
	--primary-color: #feaf2b;
	--secundary-color: #6a3b0d;
	--light: #fcfefe;
	--dark: #050A09;
}

body {
	box-sizing: content-box;
	font-family: 'Roboto Mono', sans-serif;
	background: #333;
}


header {
	width: 100vw;
	height: 80px;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.6);
}

#header-container {
	display:flex;
	justify-content: space-around;
	align-items: center;
}

#header-container #header-logo img {
	width: 80px;
	height: 80px;
}

#header-container #location {
	font-size: 15px;
	text-decoration: none;
	color: var(--light);
	transition: all 0.5s ease;
}

#header-container #location:hover {
	color: var(--primary-color);
	transform: scale(1.05);

}

#header-container ul {
	display: flex;
	list-style: none;
}

#header-container ul a {
	padding: 0px 15px;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	color: var(--light);
	transition: all 0.5s ease;
}

#header-container ul a.active{
	border-bottom: 1px solid var(--primary-color);
}

#header-container ul a:hover {
	transform: scale(1.1);
	color: var(--primary-color);
}

#content-button {
	width: 40px;
	height: 30px;
	display: none;
}


.line-button {
	width: 30px;
	height: 2px;
	margin: 5px;
	background-color: var(--light);
}

#banner-container {
	width: 100vw;
	height: 100vh;
	background-image: url(../images/banner.jpg);
	background-size: cover;
	background-position: top;
}

#banner {
	width: inherit;
	height: inherit;
	background-color: rgba(0, 0, 0, 0.7);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

#banner-title h1 {
	margin-top: 190px;
	text-transform: uppercase;
	font-size: 80px;
	font-weight: 200;
	letter-spacing: 10px;
	color: var(--primary-color);
	text-shadow: 2px 3px 5px var(--primary-color);
}

#banner-options {
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.option {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 120px;
	height: 120px;
	border: 1px solid var(--primary-color);
	text-decoration: none;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 600;
	color: var(--light);
	margin: 50px;
	transition: all 0.5s ease;
}

.option:hover {
	transform: scale(1.05);
	background-color: var(--secundary-color);
}

.option i {
	transform: scale(3.5);
}

.option img {
	width: 60px;
	height: 43px;
}


















































































































@media screen and (max-width: 768px) {
	header {
		position: absolute;
		background-color: var(--dark);
	}

	#header-container #location {
		font-size: 13px;

	}

	#header-container ul {
		display: none;
	}

	#content-button {
		display: inline-block;
	}



	#banner-title h1 {
		font-size: 45px;
	}

	.option {
		padding: 0px 20px;
	}
}